main .cont {
    flex-direction: column;
}

main p.msg {
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--second);
    color: white;
}

main .items {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .items .item {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--light);
    padding: 10px 15px;
}

main .items .item .input {
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid var(--grey);
    outline: none;
    font-family: "Roboto", sans-serif;
    color: var(--main);
    background-color: white;
    width: 80%;
}

main .items .item .submit {
    font-size: 1rem;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    background-color: var(--second);
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    text-align: center;
}

main .items .item .submit:hover {
    background-color: var(--light);
}