.kitap {
    margin-top: 40px;
    display: flex;
    gap: 20px;
}

.kitap .img {
    width: 40%;
}

.kitap .img img {
    width: 100%;
}

.kitap .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-left: 2px solid var(--main);
    padding-left: 20px;
}

.kitap .info h3 {
    font-size: 2.5rem;
}

.kitap .info p {
    font-size: 1.3rem;
}

.kitap .info a{
    font-size: 1.3rem;
    padding: 10px 15px;
    border:none;
    border-radius: 5px;
    background-color: var(--second);
    color: white;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
}

.kitap .info a:hover {
    background-color: var(--light);
}